<input type="checkbox" @bind="MostrarBotones" />
<span>Mostrar botones</span>

<ListadoGenerico Listado="Peliculas">
    <HayRegistros Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula" MostrarBotones="MostrarBotones">
        </PeliculaIndividual>
    </HayRegistros>
</ListadoGenerico>